In [6]:
import pandas as pd

In [7]:
df=pd.read_csv('50_Startups.csv')

In [8]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [9]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [10]:
df['State'].value_counts()

California    17
New York      17
Florida       16
Name: State, dtype: int64

In [11]:
df.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [17]:
df.drop(columns='Administration')

    R&D Spend  Marketing Spend       State     Profit
0   165349.20        471784.10    New York  192261.83
1   162597.70        443898.53  California  191792.06
2   153441.51        407934.54     Florida  191050.39
3   144372.41        383199.62    New York  182901.99
4   142107.34        366168.42     Florida  166187.94
5   131876.90        362861.36    New York  156991.12
6   134615.46        127716.82  California  156122.51
7   130298.13        323876.68     Florida  155752.60
8   120542.52        311613.29    New York  152211.77
9   123334.88        304981.62  California  149759.96
10  101913.08        229160.95     Florida  146121.95
11  100671.96        249744.55  California  144259.40
12   93863.75        249839.44     Florida  141585.52
13   91992.39        252664.93  California  134307.35
14  119943.24        256512.92     Florida  132602.65
15  114523.61        261776.23    New York  129917.04
16   78013.11        264346.06  California  126992.93
17   94657.16        282574.31    New York  125370.37
18   91749.16        294919.57     Florida  124266.90
19   86419.70             0.00    New York  122776.86
20   76253.86        298664.47  California  118474.03
21   78389.47        299737.29    New York  111313.02
22   73994.56        303319.26     Florida  110352.25
23   67532.53        304768.73     Florida  108733.99
24   77044.01        140574.81    New York  108552.04
25   64664.71        137962.62  California  107404.34
26   75328.87        134050.07     Florida  105733.54
27   72107.60        353183.81    New York  105008.31
28   66051.52        118148.20     Florida  103282.38
29   65605.48        107138.38    New York  101004.64
30   61994.48         91131.24     Florida   99937.59
31   61136.38         88218.23    New York   97483.56
32   63408.86         46085.25  California   97427.84
33   55493.95        214634.81     Florida   96778.92
34   46426.07        210797.67  California   96712.80
35   46014.02        205517.64    New York   96479.51
36   28663.76        201126.82     Florida   90708.19
37   44069.95        197029.42  California   89949.14
38   20229.59        185265.10    New York   81229.06
39   38558.51        174999.30  California   81005.76
40   28754.33        172795.67  California   78239.91
41   27892.92        164470.71     Florida   77798.83
42   23640.93        148001.11  California   71498.49
43   15505.73         35534.17    New York   69758.98
44   22177.74         28334.72  California   65200.33
45    1000.23          1903.93    New York   64926.08
46    1315.46        297114.46     Florida   49490.75
47       0.00             0.00  California   42559.73
48     542.05             0.00    New York   35673.41
49       0.00         45173.06  California   14681.40

In [19]:
df.head()

   R&D Spend  Marketing Spend       State     Profit
0  165349.20        471784.10    New York  192261.83
1  162597.70        443898.53  California  191792.06
2  153441.51        407934.54     Florida  191050.39
3  144372.41        383199.62    New York  182901.99
4  142107.34        366168.42     Florida  166187.94

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
LE=LabelEncoder()

In [22]:
df['State']=LE.fit_transform(df['State'])

In [24]:
df.head()

   R&D Spend  Marketing Spend  State     Profit
0  165349.20        471784.10      2  192261.83
1  162597.70        443898.53      0  191792.06
2  153441.51        407934.54      1  191050.39
3  144372.41        383199.62      2  182901.99
4  142107.34        366168.42      1  166187.94

In [27]:
x=df.iloc[:,:-1]
x.head()

   R&D Spend  Marketing Spend  State
0  165349.20        471784.10      2
1  162597.70        443898.53      0
2  153441.51        407934.54      1
3  144372.41        383199.62      2
4  142107.34        366168.42      1

In [28]:
y=df.iloc[:,3:]

In [29]:
y.head()

      Profit
0  192261.83
1  191792.06
2  191050.39
3  182901.99
4  166187.94

In [30]:
from sklearn.model_selection import train_test_split

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/3,random_state=0)

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
mlr=LinearRegression()

In [35]:
mlr.fit(x_train,y_train)

LinearRegression()

In [36]:
y_pred=mlr.predict(x_test)

In [39]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(33, 3)
(17, 3)
(33, 1)
(17, 1)

In [37]:
y_pred

array([[103068.94266727],
       [134918.38713624],
       [135437.70297498],
       [ 73070.14568614],
       [182467.90061006],
       [114438.27666595],
       [ 67415.08204748],
       [ 98293.98373706],
       [114577.25002304],
       [172057.14625426],
       [ 97029.7397927 ],
       [ 89078.74991723],
       [111096.39696926],
       [ 89440.76949344],
       [128890.62340482],
       [161243.15042904],
       [150942.74816259]])

In [45]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,y_pred)

In [46]:
mse

67914060.50218694

In [47]:
import numpy as np

In [48]:
rmse=np.sqrt(mse)

In [49]:
rmse

8240.998756351499

In [42]:
from sklearn.metrics import r2_score

In [43]:
R2=r2_score(y_test,y_pred)

In [44]:
R2

0.9284213775275154